<app-actions-layout
  (processEvent)="processDirectory()"
  (importEvent)="importDirectoryFromFile($event)"
  (searchEvent)="searchDirectory()"
  (generateEvent)="generateMemory()"
  (attachToParentEvent)="attachToParentDialog()">
></app-actions-layout>

<p-toast position="bottom-right"></p-toast>

<tree-table-layout
  [rows]="files"
  [columns]="cols"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [dataKeyName]="dataKeyName"
  (selectionChangedEvent)="selectionChanged($event)"

  (nodeExpandEvent)="onNodeExpand($event)"
  (showDialogEvent)="showDialog($event)"
  (removeEvent)="remove($event)"
  (loadNodesEvent)="loadNodes($event)"
  (paginationEvent)="paginate($event)"
></tree-table-layout>

<app-card-layout 
  (dialogPanelCloseEvent)="closeDialog()"
  (tagChangedEvent)="tagChanged($event)"
  (nextItemEvent)="nextItem($event)"
  (previousItemEvent)="previousItem($event)"
  [cardData]="cardData"
  [visible]="dialogPanelVisible">
</app-card-layout>

<p-dialog [(visible)]="attachToParentDialogVisible" [style]="{ width: '450px' }" header="Directory" [modal]="true">
  <ng-template #content>
    <p-select
      (onClick)="onSelectParentClick($event)"
      [filter]="true"
      [lazy]="true"
      (onFilter)="onParentsListFilter($event)"
      filterBy="name"
      [loading]="filteringParents"
      [showClear]="true"
      appendTo="body"
      [options]="parentDirectoriesList"
      [(ngModel)]="selectedParentDirectoryId"
      optionValue="directoryId"
      optionLabel="name"
      placeholder="Select a Directory" />
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideAttachToParentDialog()" />
    <p-button label="Save" icon="pi pi-check" (click)="attachToParent()" />
  </ng-template>
</p-dialog>