<app-actions-layout>

</app-actions-layout>

<!-- <div class="card"> -->
<p-treetable
  [value]="files"
  [columns]="cols"
  selectionMode="checkbox"
  [(selectionKeys)]="selectionKeys"
  dataKey="directoryId"
  [paginator]="true"
  [rows]="10"
  [lazy]="true"
  (onLazyLoad)="loadNodes($event)"
  [totalRecords]="totalRecords" [loading]="loading" (onNodeExpand)="onNodeExpand($event)" [scrollable]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  [(selection)]="selected"
  >
  <ng-template #header let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-rowNode let-rowData="rowData" let-columns="columns">
    <tr [ttRow]="rowNode">
      <td *ngFor="let col of columns; let i = index; let last = last;">

        <p-treetable-toggler [rowNode]="rowNode" *ngIf="i === 0" />
        <p-treetable-checkbox [value]="rowNode" *ngIf="i === 0" (click)="nodeSelect($event)" />
        <ng-container *ngIf="(col.field === 'name' && !rowData.isFolder)">
          <span class="pi pi-file" [style]="{ 'margin-left': '.5em' }"></span>
        </ng-container>
        <ng-container *ngIf="(col.field === 'name' && rowData.isFolder)">
          <span class="pi pi-folder" [style]="{ 'margin-left': '.5em' }"></span>
        </ng-container>
        {{ rowData[col.field] }}
        <ng-container *ngIf="last">
          <p-button icon="pi pi-window-maximize" (mouseover)="showDialog(rowData)" severity="secondary" [style]="{ 'margin-right': '.5em' }" />
          <!-- <p-button icon="pi pi-pencil" severity="secondary" /> -->
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-treetable>
<!-- </div> -->
<app-card-layout (dialogPanelCloseEvent)="closeDialog()" (tagChangedEvent)="tagChanged($event)" [cardData]="cardData" [selectedTags]="cardData.tags" [visible]="dialogPanelVisible">

</app-card-layout>
<!-- <p-dialog header="Edit Profile" [modal]="true" [(visible)]="dialogPanelVisible" [style]="{ width: '50rem' }">
  <p-card [style]="{  overflow: 'hidden' }">
    <ng-template #header>
      <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    <ng-template #title> Advanced Card </ng-template>
    <ng-template #subtitle>{{cardData.subtitle}}</ng-template>
    <p>{{cardData.text}}</p>
    <ng-template #footer>
      <div class="flex gap-4 mt-1">
        <p-button label="Cancel" severity="secondary" (click)="dialogPanelVisible = false" />
        <p-button label="Save" (click)="dialogPanelVisible = false" />
      </div>
    </ng-template>
  </p-card>
</p-dialog> -->