.player {
  display: inline-block;
  max-height: 100%;
  max-width: 80%;
  display: none;
  /* width: 100%;
  max-height: 100vh; */
}

.controls-panel {
  display: flex;
  width: 100%;
  justify-content: center;
}

#videoContainer {
  display: flex;
  justify-content: center;
}

.step-control {
  margin: auto 0.9rem;
}