<app-actions-layout
  (processEvent)="start()">
</app-actions-layout>

<p-splitter [panelSizes]="[25, 75]" class="mb-8">
  <ng-template #panel>
    <div 
      class="flex items-center justify-center h-full" 
      [style]="{ 'margin-right': '2rem' }">
      <p-listbox
        focusOnHover="true"
        (onFilter)="onMemoryFilter($event)"
        optionLabel="name"
        optionValue="id"
        [options]="memories"
        [(ngModel)]="selectedMemoryId"
        [checkbox]="true"
        [filter]="true"
        [multiple]="false"
        [metaKeySelection]="false"
        (onChange)="onMemorySelectionChange($event)"
        scrollHeight="250px"
        [striped]="true"
        class="w-full md:w-56">
        <ng-template #item let-item>
          <div class="flex items-center gap-2">
            <div>{{ item.name }}</div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
    <div class="card">
      <div style="height: 250px; position: relative;">
        <p-speeddial [model]="items" direction="down"
          [style]="{ position: 'absolute', left: 'calc(50% - 3rem)', top: 0 }" />
      </div>
    </div>
  </ng-template>
  <ng-template #panel>
    <div class="flex items-center justify-center h-full">
      <div class="card" class="player-container">
        <!-- <video class="player" controls muted="muted" (ended)="onVideoEnded(videoPlayer1, videoPlayer2)"
          (error)="error($event, videoPlayer1, videoPlayer2)" id="{{firstVideoPlayerId}}" #videoPlayer1>
          <source type="video/mp4">
          Your browser does not support the video tag.
        </video> -->
        <video class="player" controls muted="muted" (ended)="onVideoEnded(videoPlayer2)"
          (error)="error($event)" id="{{secondVideoPlayerId}}" #videoPlayer2>
          <source type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      @if(roundRobin.getLength() > 1) {
      <div class="card" id="controls-panel">
        <p-buttongroup>
          <p-button class="step-control" (click)="playPrevious()" icon="pi pi-chevron-circle-left" [rounded]="true" [text]="true" [raised]="true" />
          <p-button icon="pi pi-replay" (click)="toggleRepeat()" [rounded]="true" [text]="true" [raised]="true" [severity]="doRepeat ? 'danger' : 'success'"/>
          <p-button icon="pi pi-external-link" (click)="goToDirectory()" [rounded]="true" [text]="true" [raised]="true" />
          <p-button class="step-control" (click)="playNext()" icon="pi pi-chevron-circle-right" [rounded]="true" [text]="true" [raised]="true" />
        </p-buttongroup>
      </div>
      } @else {
      <div class="card">
        <p-message severity="secondary">Nothing to play</p-message>
      </div>
      }
    </div>
  </ng-template>
</p-splitter>

<p-dialog [(visible)]="createDialogVisible" [style]="{ width: '450px' }" header="Memory" [modal]="true">
  <ng-template #content>
    <!-- <div class="flex flex-col gap-6"> -->
    <input type="text" placeholder="Name" pInputText id="name" [(ngModel)]="currentMemory.name" required autofocus fluid />
    <textarea placeholder="Description" id="description" pTextarea [(ngModel)]="currentMemory.description" required rows="3"
      cols="20" fluid></textarea>
    <!-- </div> -->
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideCreateDialog()" />
    <p-button label="Save" icon="pi pi-check" (click)="save()" />
  </ng-template>
</p-dialog>
