<p-dialog transitionOptions="250ms cubic-bezier(0, 0, 0.2, 1)" header="Card" (onHide)="dialogClosed()" [modal]="true"
  dismissableMask="true" [(visible)]="visible" [style]="{ width: '50rem' }">
  <p-card [style]="{  overflow: 'hidden' }">
    <ng-template #header>
      @if(cardData && cardData.image) {
        <img alt="Card" [style]="{ height: '25rem', display: 'block', 'margin-left': 'auto', 'margin-right': 'auto' }" class="w-full" src="data:image/jpeg;base64, {{cardData.image}}" />
      }
      @if(cardData && cardData.attachments.length) {
      <div class="card flex justify-center">
        <p-accordion value="activeTabIndex" (onOpen)="onAttachmentOpen($event)">
        @for (item of cardData.attachments; track $index;) {
          <p-accordion-panel value="{{$index}}" active="false">
            <p-accordion-header>Attachment {{$index + 1}}</p-accordion-header>
            <p-accordion-content>
              <div class="flex items-center justify-center h-full">
                <video
                  class="player"
                  controls
                  muted="{{true}}"
                  src="{{item.source}}"
                  id="attachment-{{$index}}"
                  preload="none">
                  <source type="video/mp4" src="{{item.source}}">
                  Your browser does not support the video tag.
                </video>
                <div class="flex-auto">
                  <p-button (click)="clipStart('attachment-'+$index)" icon="pi pi-bookmark" severity="secondary" />
                  <p-inputMask mask="99:99:99" placeholder="00:00:00" [(ngModel)]="clipStartTimeString" pSize="small"></p-inputMask>
                  <span> - </span>
                  <p-button (click)="clipEnd('attachment-'+$index)" icon="pi pi-bookmark" severity="secondary" />
                  <p-inputMask mask="99:99:99" placeholder="00:00:00" [(ngModel)]="clipEndTimeString" pSize="small"></p-inputMask>
                  <p-button icon="pi pi-inbox" text severity="secondary" (click)="generateClip()" pTooltip="Generate memory"
                    tooltipPosition="bottom" showDelay="1000" hideDelay="300" />
                  <p-select (onClick)="onSelectClick($event)" [showClear]="true" appendTo="body" [options]="memoriesList" [(ngModel)]="selectedMemory" optionValue="id" optionLabel="name"
                    placeholder="Select a Memory" class="memory-selector"/>
                </div>
              </div>
            </p-accordion-content>
          </p-accordion-panel>
        } 
        @empty {
        <span>No attachments.</span>
        }
      </p-accordion>
      </div>
      }
    </ng-template>
    <ng-template #title>{{cardData.title}}</ng-template>
    <ng-template #subtitle><p style="cursor: pointer" (click)="copyMessage(cardData.subtitle)">{{cardData.subtitle}}</p></ng-template>
    <p>{{cardData.text}}</p>
    <ng-template #footer>
      <div class="flex gap-4 mt-1">
        <!-- <p-button label="Cancel" (click)="dialogClosed()" severity="secondary" (click)="dialogClosed()" /> -->
        <!-- <p-button label="Save" (click)="dialogClosed()" /> -->
        <p-button label="Previous" (click)="previous($event)" [style]="{ 'margin-left': '0.5rem' }"/>
        <p-button label="Next" (click)="next($event)" [style]="{ 'margin-left': '0.5rem' }"/>
      </div>
    </ng-template>
  </p-card>
  <div class="card flex justify-center">
    <p-listbox focusOnHover="true"
      (onFilter)="onFilter($event)"
      optionLabel="name" optionValue="tagId"
      [options]="tags" [(ngModel)]="cardData.tags"
      [checkbox]="true" [filter]="true" 
      [multiple]="true" [metaKeySelection]="false"
      (onChange)="onTagSelectionChange($event)" scrollHeight="250px" [striped]="true" class="w-full md:w-56" />
  </div>
  <button pButton severity="secondary" (click)="newTag($event)"><span pButtonLabel>New Tag</span></button>
</p-dialog>