<p-dialog transitionOptions="250ms cubic-bezier(0, 0, 0.2, 1)" header="Card" (onHide)="dialogClosed()" [modal]="true"
  dismissableMask="true" [(visible)]="visible" [style]="{ width: '50rem' }">
  <p-card [style]="{  overflow: 'hidden' }">
    <ng-template #header>
      <img alt="Card" [style]="{ height: '25rem' }" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    <ng-template #title>{{cardData.title}}</ng-template>
    <ng-template #subtitle>{{cardData.subtitle}}</ng-template>
    <p>{{cardData.text}}</p>
    <ng-template #footer>
      <div class="flex gap-4 mt-1">
        <p-button label="Cancel" (mouseover)="dialogClosed()" severity="secondary" (click)="dialogClosed()" />
        <p-button label="Save" (click)="dialogClosed()" />
      </div>
    </ng-template>
  </p-card>
  <div class="card flex justify-center">
    <p-listbox focusOnHover="true"
      optionLabel="name" optionValue="tagId"
      [options]="tags" [(ngModel)]="cardData.tags"
      [checkbox]="true" [filter]="true" 
      [multiple]="true" [metaKeySelection]="false"
      (onChange)="onTagSelectionChange($event)" scrollHeight="250px" [striped]="true" class="w-full md:w-56" />
  </div>
</p-dialog>