/* File uploader styling */
:host ::ng-deep .file-upload .p-button {
  box-sizing: border-box;
  background: transparent;
  /* border-color: var(--p-surface-700); */
  border: none;
  border-radius: var(--p-button-border-radius);
  width: 40px;
  height: 34px;
}

:host ::ng-deep .file-upload .p-button:hover {
  background: var(--p-button-outlined-secondary-hover-background);
  border-color: var(--p-button-outlined-secondary-hover-background);
}

:host ::ng-deep .file-upload .p-button .p-button-icon {
  color: var(--p-button-text-secondary-color);
}

:host ::ng-deep .file-upload .p-button-label {
  display: none;
}

/* Advanced file uploader styling */
:host ::ng-deep .file-upload-advanced .p-fileupload {
  border: none;
}

:host ::ng-deep .file-upload-advanced .p-fileupload-header {
  padding: 0;
}

:host ::ng-deep .file-upload-advanced .p-fileupload-content {
  display: none;
}
