/* Advanced file uploader styling */
:host ::ng-deep .file-upload-advanced .p-fileupload {
  border: none;
}

:host ::ng-deep .file-upload-advanced .p-fileupload-header {
  padding: 0;
}

:host ::ng-deep .file-upload-advanced .p-fileupload-content {
  display: none;
}
