<app-actions-layout
  (processEvent)="processNotes()"
  (importEvent)="importNotes($event)"
  (searchEvent)="searchNotes()">
</app-actions-layout>

<tree-table-layout
  [rows]="notes"
  [columns]="cols"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [dataKeyName]="dataKeyName"
  [selectionKeys]="selectionKeys"

  (nodeExpandEvent)="onNodeExpand($event)"
  (showDialogEvent)="showDialog($event)"
  (loadNodesEvent)="loadNodes($event)"
  (paginationEvent)="paginate($event)"
></tree-table-layout>

<app-card-layout (dialogPanelCloseEvent)="closeDialog()" (tagChangedEvent)="tagChanged($event)"
  (nextItemEvent)="nextItem($event)" [cardData]="cardData" [visible]="dialogPanelVisible">

</app-card-layout>
