<app-actions-layout
  (processEvent)="processNotes()"
  (importEvent)="importNotes($event)"
  (searchEvent)="searchNotes()"
  (createEvent)="createNoteDialog()">
</app-actions-layout>

<tree-table-layout
  [rows]="notes"
  [columns]="cols"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [dataKeyName]="dataKeyName"
  [selectionKeys]="selectionKeys"

  (nodeExpandEvent)="onNodeExpand($event)"
  (showDialogEvent)="showDialog($event)"
  (loadNodesEvent)="loadNodes($event)"
  (paginationEvent)="paginate($event)"
  (editEvent)="editNote($event)"
  (removeEvent)="removeNote($event)"
></tree-table-layout>

<app-card-layout
  (dialogPanelCloseEvent)="closeDialog()"
  (tagChangedEvent)="tagChanged($event)"
  (nextItemEvent)="nextItem($event)"
  (previousItemEvent)="previousItem($event)"
  [cardData]="cardData"
  [visible]="dialogPanelVisible">
</app-card-layout>

<p-dialog [(visible)]="createDialogVisible" [style]="{ width: '450px' }" header="Note" [modal]="true">
  <ng-template #content>
    <!-- <div class="flex flex-col gap-6"> -->
      <input type="text" placeholder="Name" pInputText id="name" [(ngModel)]="note.name" required autofocus fluid />
      <textarea placeholder="Description" id="description" pTextarea [(ngModel)]="note.description" required rows="3" cols="20"
        fluid></textarea>
      <input type="text" placeholder="Source" pInputText id="source" [(ngModel)]="note.source" fluid/>
      <input type="text" placeholder="Type" pInputText id="type" [(ngModel)]="note.type" fluid/>
    <!-- </div> -->
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideCreateDialog()" />
    <p-button label="Save" icon="pi pi-check" (click)="saveNote()" />
  </ng-template>
</p-dialog>