<app-actions-layout
  (processEvent)="processNotes()"
  (importEvent)="importNotes($event)"
  (searchEvent)="searchNotes()"
  (createEvent)="createNoteDialog()"
  (attachToParentEvent)="attachToParentDialog()">
</app-actions-layout>

<tree-table-layout
  [rows]="notes"
  [columns]="cols"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [dataKeyName]="dataKeyName"
  [selectionKeys]="selectionKeys"

  (nodeExpandEvent)="onNodeExpand($event)"
  (showDialogEvent)="showDialog($event)"
  (loadNodesEvent)="loadNodes($event)"
  (paginationEvent)="paginate($event)"
  (editEvent)="editNote($event)"
  (removeEvent)="removeNote($event)"
></tree-table-layout>

<app-card-layout
  (dialogPanelCloseEvent)="closeDialog()"
  (tagChangedEvent)="tagChanged($event)"
  (nextItemEvent)="nextItem($event)"
  (previousItemEvent)="previousItem($event)"
  [cardData]="cardData"
  [visible]="dialogPanelVisible">
</app-card-layout>

<p-dialog [(visible)]="createDialogVisible" [style]="{ width: '450px' }" header="Note" [modal]="true">
  <ng-template #content>
    <div class="inputs-container">

      <label pLabel for="name">Name</label>
      <input class="form-input" type="text" placeholder="Name" pInputText id="name" [(ngModel)]="note.name" required autofocus fluid />
      
      <label pLabel for="description">Description</label>
      <textarea placeholder="Description" id="description" pTextarea [(ngModel)]="note.description" required rows="5" cols="20"
        fluid></textarea>

      <label pLabel for="source">Source</label>
      <input type="text" placeholder="Source" pInputText id="source" [(ngModel)]="note.source" fluid/>

      <label pLabel for="type">Type</label>
      <input type="text" placeholder="Type" pInputText id="type" [(ngModel)]="note.type" fluid/>
    </div>
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideCreateDialog()" />
    <p-button label="Save" icon="pi pi-check" (click)="saveNote()" />
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="attachToParentDialogVisible" [style]="{ width: '450px' }" header="Note" [modal]="true">
  <ng-template #content>
    <p-select (onClick)="onSelectParentClick($event)" [showClear]="true" appendTo="body" [options]="parentNotesList"
    [(ngModel)]="selectedParentNoteId" optionValue="noteId" optionLabel="name" placeholder="Select a Note"/>
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideAttachToParentDialog()" />
    <p-button label="Save" icon="pi pi-check" (click)="attachToParent()" />
  </ng-template>
</p-dialog>